body {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin: 20px;
    background: url('https://github.com/securecey/hashgen/blob/main/background1.jpg?raw=true') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 10px;
}

.hash-output {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin: 20px auto;
    width: 60%;
    max-width: 700px;
}

.hash-output div {
    border: 1px solid white;
    padding: 10px;
    background-color: #333;
    text-align: left;
    word-wrap: break-word;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #444;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #666;
}

input[type="text"], input[type="file"] {
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    background-color: #333;
    color: white;
    border: 1px solid white;
}

hr {
    margin: 40px 0;
    border: 1px solid white;
}

@media (max-width: 768px) {
    .hash-output {
        grid-template-columns: 1fr;
    }

    input[type="text"], input[type="file"] {
        width: 100%;
    }
}
